// out: videoskin.css
@import "variables";
body {
  background-color: grey;
}

.Responsive16x9 {
  width: 100%;
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}

.ArrowVideoSkin {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.YouTubeWrapper {
  display: inline-block;
  font-size: 0;
  position: relative;

  .controls {
    color: white;
    padding: 5px;
    font-size: 10px;
    vertical-align: middle;
    line-height: 10px;
    background-color: white;

    .play-button {
      font-family: 'VideoJS';
      font-size: 8px;
      display: inline-block;
      vertical-align: middle;

      &--playing::before {
        content: '\e002';
      }
      &--paused::before {
        content: '\e001';
      }
      &:hover {
        cursor: pointer;
      }
      &:before {
        width: 10px;
        padding: 5px;
        text-align: center;
        border-radius: 100%;
        display: inline-block;
        background-color: #f77e2b;
      }
    }

    .duration {
      color: black;
      font-size: 8px;
      display: inline-block;
      width: 80px;
      font-size: 10pt;
      vertical-align: middle;
      text-align: center;
      padding: 0 10px 0 10px;

      .pos {
        padding: 0 2px 0 2px;
        display: inline-block;
        color: black;
      }

      .len {
        padding: 0 2px 0 2px;
        display: inline-block;
        color: black;
      }
    }

    .progress-slider {
      height: 5px;
      width: calc(100% - 160px);

      cursor: pointer;
      display: inline-block;
      background-color: #dedede;

      .progress {
        background-color: #f77e2b;
        height: 100%;
        width: 0%;
      }
    }

    .volume-control {
      padding: 0 10px 0 10px;
      font-family: 'VideoJS';
      font-size: 8px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;

      //003 - 006
      $volume-temp: \e00;
      @for $i from 3 through 6 {
        .volume-control--vol#{($i - 3)}::before {
          content: '#{$volume-temp}#{$i}';
        }
      }

      .volume-button:before {
        width: 10px;
        padding: 5px;
        text-align: center;
        border-radius: 100%;
        display: inline-block;
        background-color: #f77e2b;
        content: "\e006";
        z-index: 2;
      }

      .volume-tracks {
        width: 20px;
        display: none;
        background-color: white;
        position: absolute;
        bottom: 20px;
        z-index: 0;
        &--popout {
          display: block;
          height: 120px;
        }
      }

      .volume-slider {
        margin: 10px auto;
        background-color: #e1e1e1;
        width: 3px;
        height: 80%;
        z-index: 1;
        position: relative;
      }

      .volume-amount {
        background-color: $orange;
        position: absolute;
        bottom: 0;
        width: 3px;
        height: 100%;
      }
    }
  }
}
