// out: videoskin.css

body {
  background-color: grey;
}



.YouTubeWrapper {
  display: inline-block;
  font-size: 0;
  position: relative;

  .controls {
    color: white;
    padding: 5px;
    font-size: 10px;
    vertical-align: middle;
    line-height: 10px;
    background-color: white;

    .play-button {
      font-family: 'icomoon';
      font-size: 8px;
      display: inline-block;
      vertical-align: middle;

      &--playing::before {
        content: '\e667';
      }
      &--paused::before {
        content: "";
      }
      &:hover {
        cursor: pointer;
      }
      &:before {
        width: 10px;
        padding: 5px;
        text-align: center;
        border-radius: 100%;
        display: inline-block;
        background-color: #f77e2b;
      }
    }

    .duration {
      color: black;
      font-size: 8px;
      display: inline-block;
      width: 80px;
      font-size: 10pt;
      vertical-align: middle;
      text-align: center;
      padding: 0 10px 0 10px;

      .pos {
        padding: 0 2px 0 2px;
        display: inline-block;
        color: black;
      }

      .len {
        padding: 0 2px 0 2px;
        display: inline-block;
        color: black;
      }
    }

    .progress-slider {
      height: 5px;
      width: 80%;
      cursor: pointer;
      display: inline-block;
      background-color: #dedede;
      .progress {
        background-color: #f77e2b;
        height: 100%;
        width: 0%;
      }
    }

    .volume-control {
      padding: 10px 0 10px 0;
      font-family: 'VideoJS';
      font-size: 8px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      .volume-control--vol0::before {
        content: "vol1"; }

      &::before {
        width: 10px;
        padding: 5px;
        text-align: center;
        border-radius: 100%;
        display: inline-block;
        background-color: #f77e2b;
        content: "\e006";
        z-index: 2; }
      .volume-tracks {
        width: 20px;
        display: none;
        background-color: white;
        position: absolute;
        bottom: 20px;
        z-index: 0;
        &--popout {
          display: block;
          height: 120px;
        }
      }

      .volume-slider {
        margin: 10px auto;
        background-color: #f77e2b;
        width: 3px;
        height: 80%;
        z-index: 1;
      }
    }
  }
}
